.registerScreen,
.loginScreen {
  min-height: 100vh;
  height: 100%;
  background-image: url("../assets/registerBackground.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
}


